* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  background-color: darkcyan;
}

article h1 {
  text-align: center;
  line-height: 80px;
  color: snow;
  font-size: 30px;
}

section {
  max-width: 40rem;
  margin: 3rem auto;
  min-height: calc(100vh - 80px);
}

section ul {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  list-style-type: none;
}

section ul li {
  padding: 10px;
}

section ul li a:hover {
  cursor: pointer;
  background-color: lightcyan;
}

section ul li a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
