* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  text-align: center;
  padding-top: 4vh;
}


article h1 {
  text-align: center;
  line-height: 80px;
  color: #2c3e50;
  font-size: 30px;
}

section {
  max-width: 40rem;
  margin: 3rem auto;
  /* min-height: calc(100vh - 80px); */
}

section ul {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  list-style-type: none;
}

section ul li {
  padding: 0.5rem;
}


section ul li a {
  /* border: 1px solid #42b983; */
  color: #2c3e50;
  text-decoration: none;
  padding: 1rem;
  display: block;
  width: 100%;
}

section ul li a:hover {
  cursor: pointer;
  /* border: 1px solid #2c3e50; */
  color: #42b983;
}